@import "./mixins";
@import "./variables";
@import "./typography";

//component sass files
@import "./components/components.navbar";

body {
  min-width: 320px;
}

.main-content {
  @include flexCenter(column);
  margin: 0 auto;

  .section {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    div {
      max-width: 70rem;
      margin: 0 auto;

      .content-wrapper {
        @include flexCenter(column);
        color: $mainText1;
      }

      img {
        width: 70%;
      }

      h2 {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 0.75rem;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        margin-top: 0;
      }
    }

    .content-wrapper--2 {
      position: relative;

      h2 {
        @include subHeaders($darkText);
      }

      h3 {
        @include infoText($darkText);
      }

      .top-left-potato-blur {
        filter: blur(10px);
        transform: skew(-0.06turn, 18deg) scale(0.7) translate(-90%, 2ex);
        position: absolute;
        z-index: 1;
      }

      .top-mid-potato-blur {
        filter: blur(15px);
        transform: scale(0.6) translate(100%, -80%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      .bottom-left-potato-blur {
        filter: blur(35px);
        transform: scale(0.4) translate(-150%, 50%);
        position: absolute;
        z-index: 1;
      }

      .bottom-right-potato-blur {
        filter: blur(35px);
        transform: scale(0.7) translate(100%, 50%);
        position: absolute;
        z-index: 1;
      }

      .image-wrapper {
        @include flexCenter(row);
        position: relative;
        z-index: 2;
      }
    }

    .content-wrapper--3 {
      position: relative;

      h2 {
        @include subHeaders($mainText1);
      }

      h3 {
        @include infoText($mainText1);
      }
    }

    &.section--1 {
      @include background($accentColor1);
      background: radial-gradient($accentColor1, $accentGradient1);
      position: relative;
      z-index: 10;
    }
    &.section--2 {
      @include background(#f1f1f1);
    }
    &.section--3 {
      @include background($accentColor2);
      background: radial-gradient($accentColor2, $accentGradient2);
    }
  }
}
